.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*****************************
******************************
            AUTHOR
******************************
*****************************/

/*============================
    From here - Common Style
============================*/
/* From here - components/navbar.js */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 3% 8% 0;
  position: relative;
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .nav {
    padding: 10% 10% 0;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .nav {
    padding: 15% 10% 0;
  }
}

.burgar,
.hat {
  width: 3rem;
  height: auto;
}

.menuPropWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: 0;
  left: 0;
  height: auto;
  position: absolute;
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}
/* Desktop over 1000px */
@media (min-width: 1001px) {
  .menuPropWrapper {
    width: 28rem;
    padding: 3rem 6rem 7rem 5rem;
    font-size: 1.2em;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .menuPropWrapper {
    width: 21rem;
    padding: 3rem 6rem 3rem 3rem;
    font-size: 1.2em;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .menuPropWrapper {
    width: 75%;
    padding: 2rem 6rem 3rem 3rem;
    gap: 30%;
  }
}

.menuPopupX {
  display: flex;
  width: fit-content;
  height: fit-content;
  font-size: 2em;
}

.memuPropList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 4rem 0 0 50%;
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .memuPropList {
    padding-top: 2rem;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .memuPropList {
    padding: 1rem 0 0;
  }
}

.memuPropList * {
  line-height: 3;
}

.memuPropBg {
  list-style-type: none;
}

/* From here - components/arrow.js */
.arrowBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  width: fit-content;
  height: fit-content;
  right: 8%;
  bottom: 10%;
  gap: 0.5rem;
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .arrowBox {
    height: 8%;
    bottom: 3%;
    right: 15%;
  }
}

.arrowBox * {
  background: transparent;
  border: none;
}

.body_home .arrowUp,
.body_contact .arrowDown {
  display: none;
}

.body_about .arrowUp,
.body_about .arrowDown {
  display: flex;
}

.arrowUp_img,
.arrowDown_img {
  width: 2rem;
  height: auto;
}

/* From here - components/HeadingLine.js */
.text_heading1 {
  display: flex;
  font-size: 2em;
  align-items: center;
  align-self: center;
  width: 90vw;
  text-align: center;
}
/* Desktop over 1000px */
@media (min-width: 1001px) {
  .text_heading1 {
    width: 75vw;
    padding-bottom: 3rem;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .text_heading1 {
    width: 85vw;
    padding-bottom: 5%;
  }
  .body_about .cont_section1 .text_heading1 {
    padding-bottom: 15%;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .body_about .cont_section1 .text_heading1 {
    padding: 10% 0 20%;
  }
}

.text_heading1:before,
.text_heading1:after {
  content: "";
  width: 20%;
  height: 4px;
  flex-grow: 1;
  background-color: var(--secondary-color);
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .text_heading1:before,
  .text_heading1:after {
    width: 29%;
  }
}

.text_heading1:before {
  margin-right: 5%;
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .text_heading1:before {
    margin-right: 1%;
  }
}

.text_heading1:after {
  margin-left: 5%;
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .text_heading1:after {
    margin-left: 1%;
  }
}

/* From here - components/MyButton.js */
.btn {
  background: transparent;
  padding: .2em .9em;
  border: .1em solid;
  border-color: var(--primary-color);
  border-radius: .5em;
  cursor: default;
}

.btn + .btn {
  margin-left: 2.5%;
}

.btn:hover {
  background: var(--primary-color);
}

.btn:hover .btn_text {
  color: var(--quaternary-color);
}

.btn_text {
  vertical-align: text-bottom;
}

/* From here - general */

/* Desktop over 1000px */
@media (min-width: 1001px) {
  .ipad,
  .mobile {
    display: none;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .pc,
  .ipad {
    display: none;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .pc,
  .ipad {
    display: none;
  }
}

.body,
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  vertical-align: text-bottom;
  text-align: left;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 1rem;
}
/* Desktop over 1000px */
@media (min-width: 1001px) {
  .body {
    font-weight: 200;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (min-width: 601px) and (max-width: 1000px) {
  .body {
    font-size: 1.1rem;
  }
}

.body_home,
.body_contact {
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  background-size: cover;
  font-size: 1em;
}

.main {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
/* Desktop over 1000px */
@media (min-width: 1001px) {
  .main {
    padding: 6rem;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .main {
    padding: 1rem 3rem 3rem;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .main {
    padding: 2rem;
  }
}

/*============================
    From here - Home Page
============================*/
.body_home .main {
  flex-direction: row;
  justify-content: flex-start;
}
/* Desktop over 1000px */
@media (min-width: 1001px) {
  .body_home .main {
    align-items: flex-end;
    padding: 0 0 13% 21%;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .body_home .main {
    align-items: flex-start;
    padding: 28% 13% 0 7%;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .body_home .main {
    padding: 40% 26.5% 0 7%;
  }
}

.body_home .cont_main {
  display: flex;
  flex-direction: column;
}
/* Desktop over 1000px */
@media (min-width: 1001px) {
  .body_home .cont_main {
    width: 26rem;
  }
}

.body_home .cont_main * {
  color: var(--primary-color);
}

.body_home .text_lead {
  font-size: 2em;
  line-height: 1.3;
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, rgba(244,214,185,1) 0%, rgba(244,214,185,1) 72%, rgba(244,214,185,0) 72%, rgba(244,214,185,0) 100%) 1;
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .body_home .text_lead {
    border-image: linear-gradient(to right, rgba(244,214,185,1) 0%, rgba(244,214,185,1) 68%, rgba(244,214,185,0) 68%, rgba(244,214,185,0) 100%) 1;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .body_home .text_lead {
    font-size: 1.4em;
  }
}

.body_home .box_btn {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin-top: 4%;
}

/*============================
    From here - About Page
============================*/
.body_about {
  background-color: var(--quaternary-color);
}

.body_about .cont_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7% 0 0;
}

/* Desktop over 1000px */
@media (min-width: 1001px) {
  .body_about .cont_section1 {
    width: 41.5rem;
  }
  .body_about .cont_section2 {
    width: 20%;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .body_about .cont_section1 {
    width: 52%;
  }
  .body_about .cont_section2 {
    width: 30%;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .body_about .cont_section1 {
    width: 60.5%;
    padding-bottom: 10%;
  }
  .body_about .cont_section2 {
    width: 57%;
    padding-top: 20%;
  }
}

/* Desktop over 1000px */
@media (min-width: 1001px) {
  .body_about .text_heading2,
  .body_about .text_body {
    margin-bottom: 3%;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .body_about .text_heading2,
  .body_about .text_body {
    margin: 5% 0;
  }
}

.body_about .text_heading2 {
  font-size: 1.4em;
  justify-content: flex-start;
}

/* Desktop over 1000px */
@media (min-width: 1001px) {
  .body_about .box_list {
    padding-left: 10%;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .body_about .box_list {
    width: 100%;
  }
}

.body_about .box_list * {
  list-style: none;
  line-height: 3;
}

/* Carousel */
.carousel_cont {
  display: flex;
  align-self: center;
  margin-top: 5%;
  overflow: hidden;
  position: relative;
}
/* Desktop over 1000px */
@media (min-width: 1001px) {
  .carousel_cont {
    width: 40%;
    margin-top: 7%;
  }
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .carousel_cont {
    width: 60%;
    margin-top: 13%;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .carousel_cont {
    width: 100%;
  }
}

.carousel_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel_slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.carousel_position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.testOnImageHere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 50px), -50%);
  z-index: 100;
}

.carousel_text {
  display: flex;
  white-space: nowrap;
}

.carousel_slide:not(.carousel_active),
.carousel_text:not(.carousel_active) {
  display: none;
}

.carousel_prevBtn,
.carousel_nextBtn {
  cursor: pointer;
  border: none;
  background: transparent;
}

.carousel_arrow {
  width: 3em;
  height: auto;
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .carousel_arrow {
    width: 2.5em;
    height: auto;
  }
}

.carousel_prevBtn {
  left: 10%;
}

.carousel_nextBtn {
  right: 10%;
}

/*============================
    From here - Contact Page
============================*/
.cont_form {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
}
/* Tablet (ipad Air) between 600px and 1000px */
@media (max-width: 1000px) {
  .cont_form {
    margin: 8% auto;
  }
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .cont_form {
    width: 100%;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 0;
  padding: 3%;
  border: 2px solid var(--quaternary-color);
  line-height: 2.5;
}
/* Mobile (iphone XR) under 600px */
@media (max-width: 600px) {
  .form {
    padding: 10% 6%;
  }
}

.fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

.th {
  font-weight: 600;
}

.th:not(.th_email) {
  width: 49%;
}

.th + .th {
  margin-left: 1%;
}

.input {
  width: 100%;
  height: 1.4em;
  border: none;
  background-color: var(--primary-color);
  color: #000;
  padding: 0 2%;
  font-size: 1em;
  outline: none;
}

.input:focus {
  border-radius: 5px;
  outline-width: 2px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: #000;
}

.input::placeholder {
  color: var(--quinary-color);
}

.cont_error {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.error {
  color: #ad2424;
  font-weight: 500;
}
